# My SQL 로 파일 넣기

In [4]:
import pandas as pd

In [35]:
로그수익률전체 = pd.read_csv('./로그수익률전체.csv')

In [6]:
로그수익률전체 = 로그수익률전체.fillna(0)

In [36]:
로그수익률전체

,Unnamed: 0,레버리지기법,유동성기법,그레이엄기법,린치기법,버핏기법,삼대투자기법,성장성기법,수익성기법,시장가치기법,활동성기법
0,2005-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005-04-04,-0.004507,0.000055,-0.007168,0.008673,-0.000473,-0.013098,-0.001858,-0.000938,-0.016426,-0.005037
2,2005-04-06,0.015333,0.002167,0.010813,-0.000830,0.009874,-0.001240,-0.005797,-0.005092,-0.001387,0.035893
3,2005-04-07,-0.006284,-0.004083,-0.007089,-0.001864,0.003996,-0.006901,0.002206,0.002684,-0.002817,-0.004228
4,2005-04-08,0.001610,0.000890,0.004075,-0.009163,-0.005172,-0.001745,0.022575,0.010027,0.009193,0.011375
...,...,...,...,...,...,...,...,...,...,...,...
4230,2022-05-10,-0.000544,-0.021162,-0.009199,-0.009642,-0.019774,0.000854,0.003593,-0.000675,0.002540,-0.015443
4231,2022-05-11,0.001393,0.019887,0.000825,0.017009,0.021522,0.014619,0.004271,0.009424,-0.002679,0.017236
4232,2022-05-12,-0.051276,-0.021065,-0.013202,0.011223,-0.013817,-0.003160,-0.030033,-0.026568,0.004471,-0.005711
4233,2022-05-13,0.004958,0.015446,0.016040,0.011536,0.021881,0.008619,0.025880,0.029764,0.015211,0.008498
4234,2022-05-16,-0.005818,-0.009119,0.008759,-0.008337,0.003407,-0.005534,-0.000870,-0.003730,-0.012788,-0.004160

In [11]:
로그수익률전체.columns = ['날짜',
 '레버리지기법',
 '유동성기법',
 '그레이엄기법',
 '린치기법',
 '버핏기법',
 '삼대투자기법',
 '성장성기법',
 '수익성기법',
 '시장가치기법',
 '활동성기법']

In [17]:
로그수익률전체.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4235 entries, 0 to 4234
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      4235 non-null   object
 1   레버리지기법  4235 non-null   float64
 2   유동성기법   4235 non-null   float64
 3   그레이엄기법  4235 non-null   float64
 4   린치기법    4235 non-null   float64
 5   버핏기법    4235 non-null   float64
 6   삼대투자기법  4235 non-null   float64
 7   성장성기법   4235 non-null   float64
 8   수익성기법   4235 non-null   float64
 9   시장가치기법  4235 non-null   float64
 10  활동성기법   4235 non-null   float64
dtypes: float64(10), object(1)
memory usage: 364.1+ KB

In [7]:
import pymysql

In [24]:
pd.read_csv('./test.csv')

,날짜,레버리지기법,유동성기법,그레이엄기법,린치기법,버핏기법,삼대투자기법,성장성기법,수익성기법,시장가치기법,활동성기법
0,2005-04-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2005-04-04,-0.004507,0.000055,-0.007168,0.008673,-0.000473,-0.013099,-0.001858,-0.000938,-0.016426,-0.005037
2,2005-04-06,0.015333,0.002167,0.010813,-0.000830,0.009874,-0.001240,-0.005797,-0.005092,-0.001387,0.035893
3,2005-04-07,-0.006284,-0.004083,-0.007089,-0.001864,0.003996,-0.006901,0.002206,0.002684,-0.002817,-0.004228
4,2005-04-08,0.001610,0.000890,0.004075,-0.009163,-0.005172,-0.001745,0.022575,0.010027,0.009193,0.011375
...,...,...,...,...,...,...,...,...,...,...,...
4230,2022-05-10,-0.000544,-0.021162,-0.009199,-0.009642,-0.019774,0.000854,0.003593,-0.000675,0.002540,-0.015443
4231,2022-05-11,0.001393,0.019887,0.000825,0.017009,0.021522,0.014619,0.004271,0.009424,-0.002679,0.017236
4232,2022-05-12,-0.051276,-0.021065,-0.013202,0.011223,-0.013817,-0.003160,-0.030033,-0.026568,0.004471,-0.005711
4233,2022-05-13,0.004958,0.015446,0.016040,0.011536,0.021881,0.008619,0.025880,0.029764,0.015211,0.008498
4234,2022-05-16,-0.005818,-0.009119,0.008759,-0.008337,0.003407,-0.005534,-0.000870,-0.003730,-0.012788,-0.004160

# 테이블생성 로그수익률 5 종목선정

In [29]:
import pymysql

conn = pymysql.connect(host='localhost',
                       user='ctrlenter',
                       password='0000',
                       db='ctrlenter',
                       charset='utf8')

sql = '''CREATE TABLE 로그수익률전체 (
        날짜 date ,
        레버리지기법 float,
        유동성기법 float,
        그레이엄기법 float,
        린치기법 float,
        버핏기법 float,
        삼대투자기법 float,
        성장성기법 float,
        수익성기법 float,
        시장가치기법 float,
        활동성기법 float
        )
        '''

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        conn.commit()

## 로그수익률전체 넣기

In [30]:
# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정
# 3. curosr 사용
cursor = db.cursor() 

# 4. 쿼리문 작성
# 컬럼명: 테이블의 컬럼명과 동일하게 입력
# %s 개수: 컬럼 개수만큼 입력
sql = 'INSERT INTO 로그수익률전체(날짜,레버리지기법, 유동성기법,그레이엄기법,린치기법,버핏기법, 삼대투자기법,성장성기법,수익성기법,시장가치기법, 활동성기법) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s )'

# 5. 데이터 import
for idx in range(len(로그수익률전체)):
    cursor.execute(sql, tuple(로그수익률전체.values[idx]))

# 6. 데이터베이스 업데이트 및 작업 종료
db.commit() 

# 7. 데이터베이스 닫기 
db.close()

In [26]:
# tuple(로그수익률전체.values)

## MY SQL 에서 다시 빼오기

In [31]:
import pymysql
import pandas as pd

# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정

# 3. curosr 사용
cursor = db.cursor() 

sql = 'select * from 로그수익률전체'
로그수익률5종목 = pd.read_sql(sql, db)

In [32]:
로그수익률5종목

,날짜,레버리지기법,유동성기법,그레이엄기법,린치기법,버핏기법,삼대투자기법,성장성기법,수익성기법,시장가치기법,활동성기법
0,2005-04-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2005-04-04,-0.004507,0.000055,-0.007168,0.008673,-0.000473,-0.013099,-0.001858,-0.000938,-0.016426,-0.005037
2,2005-04-06,0.015333,0.002167,0.010813,-0.000830,0.009874,-0.001240,-0.005797,-0.005092,-0.001387,0.035893
3,2005-04-07,-0.006284,-0.004083,-0.007089,-0.001864,0.003996,-0.006901,0.002206,0.002684,-0.002817,-0.004228
4,2005-04-08,0.001610,0.000890,0.004075,-0.009163,-0.005172,-0.001745,0.022575,0.010027,0.009193,0.011375
...,...,...,...,...,...,...,...,...,...,...,...
4230,2022-05-10,-0.000544,-0.021162,-0.009199,-0.009642,-0.019774,0.000854,0.003593,-0.000675,0.002540,-0.015443
4231,2022-05-11,0.001393,0.019887,0.000825,0.017009,0.021522,0.014619,0.004271,0.009424,-0.002679,0.017236
4232,2022-05-12,-0.051276,-0.021065,-0.013202,0.011223,-0.013817,-0.003160,-0.030033,-0.026568,0.004471,-0.005711
4233,2022-05-13,0.004958,0.015446,0.016040,0.011536,0.021881,0.008619,0.025880,0.029764,0.015211,0.008498
4234,2022-05-16,-0.005818,-0.009119,0.008759,-0.008337,0.003407,-0.005534,-0.000870,-0.003730,-0.012788,-0.004160

# 테이블생성 로그수익률 10 종목선정

In [37]:
로그수익률전체_10종목 = pd.read_csv('./로그수익률전체_10종목.csv')
로그수익률전체_10종목 = 로그수익률전체_10종목.fillna(0)
로그수익률전체_10종목

,Unnamed: 0,유동성기법,레버리지기법,그레이엄기법,린치기법,버핏기법,삼대투자기법,성장성기법,수익성기법,시장가치기법,활동성기법
0,2005-04-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2005-04-04,-0.001885,-0.003509,0.003417,0.015300,-0.004737,-0.000839,-0.000324,-0.002091,-0.012773,-0.001492
2,2005-04-06,-0.005572,0.012566,0.005841,-0.002118,0.011094,0.000858,0.002884,0.007565,-0.000898,0.017410
3,2005-04-07,-0.002721,-0.010705,-0.004159,-0.001387,-0.001534,-0.002636,0.001947,0.000370,0.000927,-0.009234
4,2005-04-08,-0.002758,-0.003010,-0.001109,-0.000854,0.002285,-0.004228,0.010989,-0.000463,0.009500,0.006397
...,...,...,...,...,...,...,...,...,...,...,...
4230,2022-05-10,-0.015892,-0.004799,-0.002160,-0.009955,-0.010384,-0.003993,-0.004541,-0.006504,-0.001658,-0.015276
4231,2022-05-11,0.018021,0.000791,-0.003038,0.012060,0.009773,0.009442,0.009268,0.013275,-0.007461,0.018093
4232,2022-05-12,-0.024158,-0.029275,-0.013050,-0.001186,-0.011456,-0.006010,-0.020785,-0.035540,-0.003394,0.005001
4233,2022-05-13,0.031105,0.014738,0.018195,0.017261,0.022215,0.012290,0.025838,0.014019,0.015668,0.010580
4234,2022-05-16,-0.011951,-0.009808,0.011632,0.005896,-0.002344,0.002947,-0.006685,-0.015521,-0.010996,-0.000697

In [41]:
로그수익률전체_10종목.columns = ['날짜',
 '유동성기법',
 '레버리지기법',
 '그레이엄기법',
 '린치기법',
 '버핏기법',
 '삼대투자기법',
 '성장성기법',
 '수익성기법',
 '시장가치기법',
 '활동성기법']

In [43]:
# 로그수익률전체_10종목

In [44]:
import pymysql

conn = pymysql.connect(host='localhost',
                       user='ctrlenter',
                       password='0000',
                       db='ctrlenter',
                       charset='utf8')

sql = '''CREATE TABLE 로그수익률전체_10종목 (
        날짜 date ,
        유동성기법 float,
        레버리지기법 float,
        그레이엄기법 float,
        린치기법 float,
        버핏기법 float,
        삼대투자기법 float,
        성장성기법 float,
        수익성기법 float,
        시장가치기법 float,
        활동성기법 float
        )
        '''

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        conn.commit()

## 로그수익률전체 넣기

In [47]:
# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정
# 3. curosr 사용
cursor = db.cursor() 

# 4. 쿼리문 작성
# 컬럼명: 테이블의 컬럼명과 동일하게 입력
# %s 개수: 컬럼 개수만큼 입력
sql = 'INSERT INTO 로그수익률전체_10종목(날짜,유동성기법, 레버리지기법,그레이엄기법,린치기법,버핏기법, 삼대투자기법,성장성기법,수익성기법,시장가치기법, 활동성기법) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s )'

# 5. 데이터 import
for idx in range(len(로그수익률전체_10종목)):
    cursor.execute(sql, tuple(로그수익률전체_10종목.values[idx]))

# 6. 데이터베이스 업데이트 및 작업 종료
db.commit() 

# 7. 데이터베이스 닫기 
db.close()

In [46]:
tuple(로그수익률전체_10종목.values[1])

('2005-04-04',
 -0.0018853641336399,
 -0.0035089174175141,
 0.0034167510110744,
 0.0153001235714365,
 -0.0047366545932957,
 -0.0008391884333663,
 -0.0003239742877232,
 -0.0020906280944135,
 -0.0127726554828823,
 -0.0014918154951139)

## MY SQL 에서 다시 빼오기

In [48]:
import pymysql
import pandas as pd

# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정

# 3. curosr 사용
cursor = db.cursor() 

sql = 'select * from 로그수익률전체_10종목'
로그수익률전체_10종목 = pd.read_sql(sql, db)

In [49]:
로그수익률전체_10종목

,날짜,유동성기법,레버리지기법,그레이엄기법,린치기법,버핏기법,삼대투자기법,성장성기법,수익성기법,시장가치기법,활동성기법
0,2005-04-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2005-04-04,-0.001885,-0.003509,0.003417,0.015300,-0.004737,-0.000839,-0.000324,-0.002091,-0.012773,-0.001492
2,2005-04-06,-0.005572,0.012566,0.005841,-0.002118,0.011094,0.000858,0.002884,0.007565,-0.000898,0.017410
3,2005-04-07,-0.002721,-0.010705,-0.004159,-0.001387,-0.001534,-0.002636,0.001947,0.000370,0.000927,-0.009234
4,2005-04-08,-0.002758,-0.003010,-0.001109,-0.000854,0.002285,-0.004228,0.010989,-0.000463,0.009500,0.006397
...,...,...,...,...,...,...,...,...,...,...,...
4230,2022-05-10,-0.015892,-0.004799,-0.002160,-0.009955,-0.010384,-0.003993,-0.004541,-0.006504,-0.001658,-0.015276
4231,2022-05-11,0.018021,0.000791,-0.003038,0.012060,0.009773,0.009442,0.009268,0.013276,-0.007461,0.018093
4232,2022-05-12,-0.024158,-0.029275,-0.013050,-0.001186,-0.011456,-0.006010,-0.020785,-0.035540,-0.003394,0.005001
4233,2022-05-13,0.031105,0.014738,0.018195,0.017261,0.022215,0.012290,0.025838,0.014019,0.015668,0.010580
4234,2022-05-16,-0.011951,-0.009808,0.011632,0.005896,-0.002344,0.002947,-0.006685,-0.015521,-0.010996,-0.000697

# 테이블생성 총기법종목수익률최종선정 5 종목선정

In [50]:
총기법종목수익률최종선정 = pd.read_csv('./총기법종목수익률최종선정.csv')
총기법종목수익률최종선정

,시작날짜,매도날짜,포트폴리오종목명,수익률,누적수익률,재무비율방식,연도
0,20050401,20060331,"['엔씨소프트', '신도리코', '동서', '대덕', '퍼시스']",-0.768626,1.231374,유동성종목,2005
1,20060401,20070331,"['한화', '엔씨소프트', 'SBS', '동서', '신도리코']",0.086176,1.423665,유동성종목,2006
2,20070401,20080331,"['엔씨소프트', '동서', '신도리코', '퍼시스', '모토닉']",0.105855,1.680222,유동성종목,2007
3,20080401,20090331,"['SBS', '엔씨소프트', 'LS네트웍스', '동서', '신도리코']",0.058882,1.838038,유동성종목,2008
4,20090401,20100331,"['CJ대한통운', '엔씨소프트', '에스원', '동서', '신도리코']",0.161794,2.297215,유동성종목,2009
...,...,...,...,...,...,...,...
175,20180401,20190331,"['삼성에스디에스', '이마트', '현대글로비스', 'CJ', '에스원']",-0.156100,3.035902,활동성종목,2018
176,20190401,20200331,"['삼성에스디에스', '코웨이', '현대글로비스', '이마트', '에스원']",-0.350214,1.622473,활동성종목,2019
177,20200401,20210331,"['삼성에스디에스', '코웨이', '현대글로비스', '에스원', '이마트']",0.458164,2.823996,활동성종목,2020
178,20210401,20220331,"['삼성에스디에스', '현대글로비스', '코웨이', '이마트', '에스원']",-0.081601,2.511952,활동성종목,2021
179,20220401,20230331,"['HMM', '삼성에스디에스', '현대글로비스', '코웨이', '이마트']",0.223366,3.296402,활동성종목,2022

In [43]:
# 로그수익률전체_10종목

In [55]:
import pymysql

conn = pymysql.connect(host='localhost',
                       user='ctrlenter',
                       password='0000',
                       db='ctrlenter',
                       charset='utf8')

sql = '''CREATE TABLE 총기법종목수익률최종선정 (
        시작날짜 date ,
        매도날짜 date ,
        포트폴리오종목명 VARCHAR(255),
        수익률 float,
        누적수익률 float,
        재무비율방식 VARCHAR(255),
        연도 int
        )
        '''

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        conn.commit()

## 로그수익률전체 넣기

In [57]:
# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정
# 3. curosr 사용
cursor = db.cursor() 

# 4. 쿼리문 작성
# 컬럼명: 테이블의 컬럼명과 동일하게 입력
# %s 개수: 컬럼 개수만큼 입력
sql = 'INSERT INTO 총기법종목수익률최종선정(시작날짜,매도날짜, 포트폴리오종목명,수익률,누적수익률,재무비율방식, 연도) VALUES(%s,%s,%s,%s,%s,%s,%s)'

# 5. 데이터 import
for idx in range(len(총기법종목수익률최종선정)):
    cursor.execute(sql, tuple(총기법종목수익률최종선정.values[idx]))

# 6. 데이터베이스 업데이트 및 작업 종료
db.commit() 

# 7. 데이터베이스 닫기 
db.close()

In [56]:
tuple(총기법종목수익률최종선정.values[1])

(20060401,
 20070331,
 "['한화', '엔씨소프트', 'SBS', '동서', '신도리코']",
 0.0861760567042847,
 1.4236654478685336,
 '유동성종목',
 2006)

## MY SQL 에서 다시 빼오기

In [58]:
import pymysql
import pandas as pd

# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정

# 3. curosr 사용
cursor = db.cursor() 

sql = 'select * from 총기법종목수익률최종선정'
test = pd.read_sql(sql, db)

In [59]:
test

,시작날짜,매도날짜,포트폴리오종목명,수익률,누적수익률,재무비율방식,연도
0,2005-04-01,2006-03-31,"['엔씨소프트', '신도리코', '동서', '대덕', '퍼시스']",-0.768626,1.23137,유동성종목,2005
1,2006-04-01,2007-03-31,"['한화', '엔씨소프트', 'SBS', '동서', '신도리코']",0.086176,1.42367,유동성종목,2006
2,2007-04-01,2008-03-31,"['엔씨소프트', '동서', '신도리코', '퍼시스', '모토닉']",0.105855,1.68022,유동성종목,2007
3,2008-04-01,2009-03-31,"['SBS', '엔씨소프트', 'LS네트웍스', '동서', '신도리코']",0.058882,1.83804,유동성종목,2008
4,2009-04-01,2010-03-31,"['CJ대한통운', '엔씨소프트', '에스원', '동서', '신도리코']",0.161794,2.29722,유동성종목,2009
...,...,...,...,...,...,...,...
175,2018-04-01,2019-03-31,"['삼성에스디에스', '이마트', '현대글로비스', 'CJ', '에스원']",-0.156100,3.03590,활동성종목,2018
176,2019-04-01,2020-03-31,"['삼성에스디에스', '코웨이', '현대글로비스', '이마트', '에스원']",-0.350214,1.62247,활동성종목,2019
177,2020-04-01,2021-03-31,"['삼성에스디에스', '코웨이', '현대글로비스', '에스원', '이마트']",0.458164,2.82400,활동성종목,2020
178,2021-04-01,2022-03-31,"['삼성에스디에스', '현대글로비스', '코웨이', '이마트', '에스원']",-0.081601,2.51195,활동성종목,2021
179,2022-04-01,2023-03-31,"['HMM', '삼성에스디에스', '현대글로비스', '코웨이', '이마트']",0.223366,3.29640,활동성종목,2022

# 테이블생성 총기법종목수익률최종선정 10 종목선정

In [60]:
총기법종목수익률최종선정_10종목 = pd.read_csv('./총기법종목수익률최종선정_10종목.csv')
총기법종목수익률최종선정_10종목

,시작날짜,매도날짜,포트폴리오종목명,수익률,누적수익률,재무비율방식,연도
0,20050401,20060331,"['엔씨소프트', '신도리코', '동서', '대덕', '퍼시스', 'KPX케미칼',...",0.261833,1.261833,유동성투자종목,2005
1,20060401,20070331,"['한화', '엔씨소프트', 'SBS', '동서', '신도리코', '퍼시스', 'K...",0.076401,1.434639,유동성투자종목,2006
2,20070401,20080331,"['엔씨소프트', '동서', '신도리코', '퍼시스', '모토닉', '삼영전자', ...",0.189146,1.895140,유동성투자종목,2007
3,20080401,20090331,"['SBS', '엔씨소프트', 'LS네트웍스', '동서', '신도리코', '퍼시스'...",-0.038545,1.783546,유동성투자종목,2008
4,20090401,20100331,"['CJ대한통운', '엔씨소프트', '에스원', '동서', '신도리코', 'SBS'...",0.226843,2.414974,유동성투자종목,2009
...,...,...,...,...,...,...,...
175,20180401,20190331,"['삼성에스디에스', '이마트', '현대글로비스', 'CJ', '에스원', '한샘'...",-0.090993,3.983032,활동성투자종목,2018
176,20190401,20200331,"['삼성에스디에스', '코웨이', '현대글로비스', '이마트', '에스원', 'CJ...",-0.373646,2.121140,활동성투자종목,2019
177,20200401,20210331,"['삼성에스디에스', '코웨이', '현대글로비스', '에스원', '이마트', 'LG...",0.492729,3.659016,활동성투자종목,2020
178,20210401,20220331,"['삼성에스디에스', '현대글로비스', '코웨이', '이마트', '에스원', 'GS...",-0.077048,3.300048,활동성투자종목,2021
179,20220401,20230331,"['HMM', '삼성에스디에스', '현대글로비스', '코웨이', '이마트', '팬오...",0.335163,4.741263,활동성투자종목,2022

In [43]:
# 로그수익률전체_10종목

In [61]:
import pymysql

conn = pymysql.connect(host='localhost',
                       user='ctrlenter',
                       password='0000',
                       db='ctrlenter',
                       charset='utf8')

sql = '''CREATE TABLE 총기법종목수익률최종선정_10종목 (
        시작날짜 date ,
        매도날짜 date ,
        포트폴리오종목명 VARCHAR(500),
        수익률 float,
        누적수익률 float,
        재무비율방식 VARCHAR(500),
        연도 int
        )
        '''

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        conn.commit()

## 로그수익률전체 넣기

In [62]:
# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정
# 3. curosr 사용
cursor = db.cursor() 

# 4. 쿼리문 작성
# 컬럼명: 테이블의 컬럼명과 동일하게 입력
# %s 개수: 컬럼 개수만큼 입력
sql = 'INSERT INTO 총기법종목수익률최종선정_10종목(시작날짜,매도날짜, 포트폴리오종목명,수익률,누적수익률,재무비율방식, 연도) VALUES(%s,%s,%s,%s,%s,%s,%s)'

# 5. 데이터 import
for idx in range(len(총기법종목수익률최종선정_10종목)):
    cursor.execute(sql, tuple(총기법종목수익률최종선정_10종목.values[idx]))

# 6. 데이터베이스 업데이트 및 작업 종료
db.commit() 

# 7. 데이터베이스 닫기 
db.close()

In [63]:
tuple(총기법종목수익률최종선정_10종목.values[1])

(20060401,
 20070331,
 "['한화', '엔씨소프트', 'SBS', '동서', '신도리코', '퍼시스', 'KPX케미칼', '삼영전자', '모토닉', '한국쉘석유']",
 0.0764008635559373,
 1.4346393254875949,
 '유동성투자종목',
 2006)

## MY SQL 에서 다시 빼오기

In [55]:
import pymysql
import pandas as pd

# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정

# 3. curosr 사용
cursor = db.cursor() 

sql = 'select * from 총기법종목수익률최종선정_10종목'
test = pd.read_sql(sql, db)

In [57]:
test['포트폴리오종목명'].iloc[0]

"['엔씨소프트', '신도리코', '동서', '대덕', '퍼시스', 'KPX케미칼', '삼영전자', '디티알오토모티브', '한국쉘석유', '모토닉']"

In [56]:
import ast
종목 = ast.literal_eval(test['포트폴리오종목명'].iloc[0])
종목

['엔씨소프트',
 '신도리코',
 '동서',
 '대덕',
 '퍼시스',
 'KPX케미칼',
 '삼영전자',
 '디티알오토모티브',
 '한국쉘석유',
 '모토닉']

# 테이블생성 총기법 "분기" 종목수익률최종선정 5종목선정

In [5]:
총기법분기종목수익률 = pd.read_csv('./총기법분기종목선정수익률.csv')
총기법분기종목수익률

,시작날짜,매도날짜,포트폴리오종목명,수익률,누적수익률,재무비율방식,연도
0,20121004,20130329,"['NAVER', '강원랜드', '에스원', '카카오', '우진']",0.098033,1.098033,유동성종목,201206
1,20130404,20130929,"['유한양행', '동서', '빙그레', '카카오', '남양유업']",-0.034313,1.026043,유동성종목,201212
2,20131004,20140329,"['동서', '신도리코', '모토닉', '일신방직', '삼영무역']",0.139352,1.308376,유동성종목,201306
3,20140404,20140929,"['고려아연', '엔씨소프트', '영원무역', '동서', 'NHN']",0.103336,1.546915,유동성종목,201312
4,20141004,20150329,"['엔씨소프트', '동서', '카카오', 'NHN', '신도리코']",0.047289,1.667356,유동성종목,201406
...,...,...,...,...,...,...,...
195,20200404,20200929,"['카카오', '넷마블', '강원랜드', '한진칼', 'GS']",0.309646,0.840940,활동성종목,201912
196,20201004,20210329,"['카카오', '엔씨소프트', '넷마블', '강원랜드', '한진칼']",0.042612,0.919387,활동성종목,202006
197,20210404,20210929,"['카카오', '엔씨소프트', '넷마블', 'HMM', '강원랜드']",0.026522,0.970292,활동성종목,202012
198,20211004,20220329,"['카카오', '엔씨소프트', 'HMM', '넷마블', '강원랜드']",-0.032669,0.905924,활동성종목,202106
199,20220404,20220929,"['NAVER', '카카오', 'HMM', '넷마블', '강원랜드']",-0.722051,-0.470250,활동성종목,202112

In [43]:
# 로그수익률전체_10종목

In [6]:
import pymysql

conn = pymysql.connect(host='localhost',
                       user='ctrlenter',
                       password='0000',
                       db='ctrlenter',
                       charset='utf8')

sql = '''CREATE TABLE 총기법분기종목수익률 (
        시작날짜 date ,
        매도날짜 date ,
        포트폴리오종목명 VARCHAR(500),
        수익률 float,
        누적수익률 float,
        재무비율방식 VARCHAR(500),
        연도 int
        )
        '''

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        conn.commit()

## 로그수익률전체 넣기

In [9]:
# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정
# 3. curosr 사용
cursor = db.cursor() 

# 4. 쿼리문 작성
# 컬럼명: 테이블의 컬럼명과 동일하게 입력
# %s 개수: 컬럼 개수만큼 입력
sql = 'INSERT INTO 총기법분기종목수익률(시작날짜,매도날짜, 포트폴리오종목명,수익률,누적수익률,재무비율방식, 연도) VALUES(%s,%s,%s,%s,%s,%s,%s)'

# 5. 데이터 import
for idx in range(len(총기법분기종목수익률)):
    cursor.execute(sql, tuple(총기법분기종목수익률.values[idx]))

# 6. 데이터베이스 업데이트 및 작업 종료
db.commit() 

# 7. 데이터베이스 닫기 
db.close()

In [8]:
tuple(총기법분기종목수익률.values[0])

(20121004,
 20130329,
 "['NAVER', '강원랜드', '에스원', '카카오', '우진']",
 0.0980334210987041,
 1.0980334210987044,
 '유동성종목',
 201206)

## MY SQL 에서 다시 빼오기

In [10]:
import pymysql
import pandas as pd

# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정

# 3. curosr 사용
cursor = db.cursor() 

sql = 'select * from 총기법분기종목수익률'
test = pd.read_sql(sql, db)

In [11]:
test

,시작날짜,매도날짜,포트폴리오종목명,수익률,누적수익률,재무비율방식,연도
0,2012-10-04,2013-03-29,"['NAVER', '강원랜드', '에스원', '카카오', '우진']",0.098033,1.098030,유동성종목,201206
1,2013-04-04,2013-09-29,"['유한양행', '동서', '빙그레', '카카오', '남양유업']",-0.034313,1.026040,유동성종목,201212
2,2013-10-04,2014-03-29,"['동서', '신도리코', '모토닉', '일신방직', '삼영무역']",0.139352,1.308380,유동성종목,201306
3,2014-04-04,2014-09-29,"['고려아연', '엔씨소프트', '영원무역', '동서', 'NHN']",0.103336,1.546920,유동성종목,201312
4,2014-10-04,2015-03-29,"['엔씨소프트', '동서', '카카오', 'NHN', '신도리코']",0.047289,1.667360,유동성종목,201406
...,...,...,...,...,...,...,...
195,2020-04-04,2020-09-29,"['카카오', '넷마블', '강원랜드', '한진칼', 'GS']",0.309646,0.840940,활동성종목,201912
196,2020-10-04,2021-03-29,"['카카오', '엔씨소프트', '넷마블', '강원랜드', '한진칼']",0.042612,0.919387,활동성종목,202006
197,2021-04-04,2021-09-29,"['카카오', '엔씨소프트', '넷마블', 'HMM', '강원랜드']",0.026522,0.970293,활동성종목,202012
198,2021-10-04,2022-03-29,"['카카오', '엔씨소프트', 'HMM', '넷마블', '강원랜드']",-0.032669,0.905924,활동성종목,202106
199,2022-04-04,2022-09-29,"['NAVER', '카카오', 'HMM', '넷마블', '강원랜드']",-0.722051,-0.470250,활동성종목,202112

# 테이블생성 총기법 "분기" 로그수익률최종선정 5종목선정

In [18]:
분기로그수익률전체 = pd.read_csv('./분기로그수익률전체.csv')
분기로그수익률전체

,Unnamed: 0,유동성기법,레버리지기법,그레이엄기법,린치기법,버핏기법,삼대투자기법,성장성기법,수익성기법,시장가치기법,활동성기법
0,2012-10-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2012-10-04,-0.000444,-0.019571,0.008812,-0.000620,0.010566,0.002242,0.001199,-0.004189,-0.008503,-0.003372
2,2012-10-05,0.009485,0.012027,-0.006438,0.003595,0.003072,-0.002729,0.004940,0.006584,0.001683,0.004538
3,2012-10-08,0.005399,0.012996,0.001064,-0.001176,0.004410,-0.004865,0.008458,0.001629,0.001314,-0.003215
4,2012-10-09,-0.013777,-0.012811,-0.008197,-0.012560,-0.006887,-0.001167,0.004228,-0.007285,0.007335,0.000669
...,...,...,...,...,...,...,...,...,...,...,...
2362,2022-05-11,0.014930,0.008112,-0.010582,0.008980,0.024942,-0.000814,0.010081,0.013282,0.000009,0.015242
2363,2022-05-12,-0.021655,-0.003902,-0.010258,-0.022553,-0.018956,0.002424,-0.025814,-0.001607,-0.004492,-0.016900
2364,2022-05-13,0.030908,0.016704,0.018322,0.024603,0.040708,0.014946,0.023746,0.013608,0.021461,-0.010376
2365,2022-05-16,-0.025054,0.006158,0.011210,0.002983,-0.006269,0.006543,-0.006400,0.016898,0.009438,-0.003802
2366,2022-05-17,0.005090,0.008468,0.004449,0.006117,-0.006653,0.011984,0.009318,0.005763,0.004863,-0.002245

In [19]:
분기로그수익률전체.columns = ['날짜',
 '유동성기법',
 '레버리지기법',
 '그레이엄기법',
 '린치기법',
 '버핏기법',
 '삼대투자기법',
 '성장성기법',
 '수익성기법',
 '시장가치기법',
 '활동성기법']

In [20]:
분기로그수익률전체

,날짜,유동성기법,레버리지기법,그레이엄기법,린치기법,버핏기법,삼대투자기법,성장성기법,수익성기법,시장가치기법,활동성기법
0,2012-10-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2012-10-04,-0.000444,-0.019571,0.008812,-0.000620,0.010566,0.002242,0.001199,-0.004189,-0.008503,-0.003372
2,2012-10-05,0.009485,0.012027,-0.006438,0.003595,0.003072,-0.002729,0.004940,0.006584,0.001683,0.004538
3,2012-10-08,0.005399,0.012996,0.001064,-0.001176,0.004410,-0.004865,0.008458,0.001629,0.001314,-0.003215
4,2012-10-09,-0.013777,-0.012811,-0.008197,-0.012560,-0.006887,-0.001167,0.004228,-0.007285,0.007335,0.000669
...,...,...,...,...,...,...,...,...,...,...,...
2362,2022-05-11,0.014930,0.008112,-0.010582,0.008980,0.024942,-0.000814,0.010081,0.013282,0.000009,0.015242
2363,2022-05-12,-0.021655,-0.003902,-0.010258,-0.022553,-0.018956,0.002424,-0.025814,-0.001607,-0.004492,-0.016900
2364,2022-05-13,0.030908,0.016704,0.018322,0.024603,0.040708,0.014946,0.023746,0.013608,0.021461,-0.010376
2365,2022-05-16,-0.025054,0.006158,0.011210,0.002983,-0.006269,0.006543,-0.006400,0.016898,0.009438,-0.003802
2366,2022-05-17,0.005090,0.008468,0.004449,0.006117,-0.006653,0.011984,0.009318,0.005763,0.004863,-0.002245

## 테이블먼저 생성

In [21]:
import pymysql

conn = pymysql.connect(host='localhost',
                       user='ctrlenter',
                       password='0000',
                       db='ctrlenter',
                       charset='utf8')

sql = '''CREATE TABLE 분기로그수익률전체 (
        날짜 date ,
        유동성기법 float,
        레버리지기법 float,
        그레이엄기법 float,
        린치기법 float,
        버핏기법 float,
        삼대투자기법 float,
        성장성기법 float,
        수익성기법 float,
        시장가치기법 float,
        활동성기법 float
        )
        '''

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        conn.commit()

## 분기로그수익률전체 넣기

In [24]:
# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정
# 3. curosr 사용
cursor = db.cursor() 

# 4. 쿼리문 작성
# 컬럼명: 테이블의 컬럼명과 동일하게 입력
# %s 개수: 컬럼 개수만큼 입력
sql = 'INSERT INTO 분기로그수익률전체(날짜,유동성기법, 레버리지기법,그레이엄기법,린치기법,버핏기법, 삼대투자기법,성장성기법,수익성기법,시장가치기법, 활동성기법) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s )'

# 5. 데이터 import
for idx in range(len(분기로그수익률전체)):
    cursor.execute(sql, tuple(분기로그수익률전체.values[idx]))

# 6. 데이터베이스 업데이트 및 작업 종료
db.commit() 

# 7. 데이터베이스 닫기 
db.close()

In [23]:
tuple(분기로그수익률전체.values[1])

('2012-10-04',
 -0.0004443236993118,
 -0.0195711935996666,
 0.0088121659585137,
 -0.0006198228596371,
 0.0105656113842634,
 0.0022420235053605,
 0.0011987524703926,
 -0.0041893241338623,
 -0.0085029951881011,
 -0.0033720363539679)

## MY SQL 에서 다시 빼오기

In [25]:
import pymysql
import pandas as pd

# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정

# 3. curosr 사용
cursor = db.cursor() 

sql = 'select * from 분기로그수익률전체'
test = pd.read_sql(sql, db)

In [26]:
test

,날짜,유동성기법,레버리지기법,그레이엄기법,린치기법,버핏기법,삼대투자기법,성장성기법,수익성기법,시장가치기법,활동성기법
0,2012-10-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2012-10-04,-0.000444,-0.019571,0.008812,-0.000620,0.010566,0.002242,0.001199,-0.004189,-0.008503,-0.003372
2,2012-10-05,0.009485,0.012027,-0.006438,0.003595,0.003072,-0.002729,0.004940,0.006584,0.001683,0.004538
3,2012-10-08,0.005399,0.012996,0.001064,-0.001176,0.004410,-0.004865,0.008458,0.001629,0.001314,-0.003215
4,2012-10-09,-0.013777,-0.012811,-0.008197,-0.012560,-0.006887,-0.001167,0.004228,-0.007285,0.007335,0.000669
...,...,...,...,...,...,...,...,...,...,...,...
2362,2022-05-11,0.014930,0.008112,-0.010582,0.008980,0.024942,-0.000814,0.010081,0.013282,0.000009,0.015242
2363,2022-05-12,-0.021655,-0.003902,-0.010258,-0.022553,-0.018956,0.002424,-0.025814,-0.001607,-0.004492,-0.016900
2364,2022-05-13,0.030908,0.016704,0.018322,0.024603,0.040708,0.014946,0.023746,0.013608,0.021461,-0.010376
2365,2022-05-16,-0.025054,0.006158,0.011210,0.002983,-0.006269,0.006543,-0.006400,0.016897,0.009438,-0.003802
2366,2022-05-17,0.005090,0.008468,0.004449,0.006117,-0.006653,0.011984,0.009318,0.005763,0.004863,-0.002245

# 코스피 리스트 데이터넣기

In [28]:
코스피리스트 = pd.read_csv('./코스피A리스트.csv')

In [32]:
코스피리스트['code'] = 코스피리스트['code'].str.extract(r'(\d\d\d\d\d\d)')

In [33]:
코스피리스트

       code  company
0    095570   AJ네트웍스
1    006840    AK홀딩스
2    027410      BGF
3    282330   BGF리테일
4    138930  BNK금융지주
..      ...      ...
808  005870      휴니드
809  079980      휴비스
810  005010      휴스틸
811  000540     흥국화재
812  003280     흥아해운

[813 rows x 2 columns]

## 테이블 생성

In [36]:
import pymysql

conn = pymysql.connect(host='localhost',
                       user='ctrlenter',
                       password='0000',
                       db='ctrlenter',
                       charset='utf8')

sql = '''CREATE TABLE 코스피리스트 (
        code int ,
        company VARCHAR(500)
        )
        '''

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        conn.commit()

## 코스피리스트 데이터 넣기

In [40]:
# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정
# 3. curosr 사용
cursor = db.cursor() 

# 4. 쿼리문 작성
# 컬럼명: 테이블의 컬럼명과 동일하게 입력
# %s 개수: 컬럼 개수만큼 입력
sql = 'INSERT INTO 코스피리스트(code,company) VALUES(%s,%s)'

# 5. 데이터 import
for idx in range(len(코스피리스트)):
    cursor.execute(sql, tuple(코스피리스트.values[idx]))

# 6. 데이터베이스 업데이트 및 작업 종료
db.commit() 

# 7. 데이터베이스 닫기 
db.close()

In [38]:
tuple(코스피리스트.values[1])

('006840', 'AK홀딩스')

## MY SQL 에서 다시 빼오기

In [41]:
import pymysql
import pandas as pd

# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정

# 3. curosr 사용
cursor = db.cursor() 

sql = 'select * from 코스피리스트'
test = pd.read_sql(sql, db)

In [46]:
test['code'] = test['code'].astype(str)
test['code'] = test['code'].str.zfill(6)
test['code']

0      095570
1      006840
2      027410
3      282330
4      138930
        ...
808    005870
809    079980
810    005010
811    000540
812    003280
Name: code, Length: 813, dtype: object

# 하락장 가중치 데이터넣기

In [3]:
import pandas as pd

In [4]:
하락감마_df =[0,1,2,3,4,5,6,7,8,9,10]
하락감마_파일이름 =  ['./하락가중치/하락감마000.csv','./하락가중치/하락감마001.csv','./하락가중치/하락감마002.csv','./하락가중치/하락감마003.csv','./하락가중치/하락감마004.csv','./하락가중치/하락감마005.csv'
              ,'./하락가중치/하락감마006.csv','./하락가중치/하락감마007.csv','./하락가중치/하락감마008.csv','./하락가중치/하락감마009.csv','./하락가중치/하락감마010.csv']

In [5]:
for i,파일이름 in enumerate(하락감마_파일이름):
    하락감마_df[i] = pd.read_csv(파일이름)

In [6]:
하락감마_df[10]

,Unnamed: 0,단기채로그,중기채로그,ksp로그,iau로그,dbc로그,vnq로그,nsd로그
0,2019-12-30,0.355515,0.350454,0.058426,0.084210,0.049670,0.050707,0.051018
1,2019-12-31,0.355077,0.350507,0.057352,0.085522,0.049660,0.050778,0.051104
2,2020-01-02,0.356758,0.350610,0.058428,0.082623,0.049953,0.050733,0.050896
3,2020-01-03,0.359776,0.352320,0.060680,0.073270,0.050930,0.051601,0.051422
4,2020-01-06,0.357428,0.350496,0.059636,0.080760,0.049977,0.050867,0.050836
...,...,...,...,...,...,...,...,...
65,2020-03-31,0.331572,0.311080,0.088345,0.124324,0.050085,0.047555,0.047038
66,2020-04-01,0.352935,0.340667,0.065509,0.090610,0.051286,0.049811,0.049182
67,2020-04-02,0.330674,0.317068,0.078740,0.133994,0.046768,0.046298,0.046458
68,2020-04-03,0.345685,0.339056,0.057715,0.114099,0.047825,0.047778,0.047843
69,2020-04-06,0.340171,0.332817,0.053358,0.132273,0.047174,0.047073,0.047136

## 하락감마 테이블 생성

In [7]:
하락감마_list = ['하락감마000','하락감마001','하락감마002','하락감마003','하락감마004','하락감마005','하락감마006','하락감마007','하락감마008',
             '하락감마009','하락감마010']

In [8]:
for i , 하락감마 in enumerate(하락감마_list):
    print(하락감마_list[i])

하락감마000
하락감마001
하락감마002
하락감마003
하락감마004
하락감마005
하락감마006
하락감마007
하락감마008
하락감마009
하락감마010

In [11]:
import pymysql


for i , 하락감마 in enumerate(하락감마_list):
    conn = pymysql.connect(host='localhost',
                       user='ctrlenter',
                       password='0000',
                       db='ctrlenter',
                       charset='utf8')
    
    sql = """CREATE TABLE """+하락감마_list[i]+""" (
            날짜 date ,
            단기채로그 double ,
            중기채로그 double ,
            ksp로그 double ,
            iau로그 double ,
            dbc로그 double ,
            vnq로그 double ,
            nsd로그 double
            )
            """

    with conn:
        with conn.cursor() as cur:
            cur.execute(sql)
            conn.commit()

In [9]:
하락감마_df[0]

,Unnamed: 0,단기채로그,중기채로그,ksp로그,iau로그,dbc로그,vnq로그,nsd로그
0,2019-12-30,0.055724,0.056627,0.060117,0.177361,0.052190,0.230831,0.367150
1,2019-12-31,0.055260,0.055887,0.058734,0.182546,0.051870,0.227010,0.368692
2,2020-01-02,0.056585,0.056112,0.058059,0.176260,0.052760,0.227035,0.373189
3,2020-01-03,0.053818,0.055499,0.059598,0.179935,0.051275,0.236181,0.363694
4,2020-01-06,0.053951,0.055144,0.060528,0.182404,0.051157,0.235030,0.361786
...,...,...,...,...,...,...,...,...
65,2020-03-31,0.063978,0.077202,0.076739,0.164565,0.060639,0.225961,0.330916
66,2020-04-01,0.170757,0.141851,0.081484,0.158687,0.082028,0.155606,0.209586
67,2020-04-02,0.128778,0.106968,0.089193,0.141373,0.076823,0.199106,0.257758
68,2020-04-03,0.145462,0.113757,0.073881,0.163432,0.072298,0.154761,0.276410
69,2020-04-06,0.115899,0.115315,0.072629,0.172428,0.068649,0.162790,0.292291

## 하락감마 11개 데이터 넣기

In [13]:
# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정
# 3. curosr 사용
cursor = db.cursor() 

# 4. 쿼리문 작성
# 컬럼명: 테이블의 컬럼명과 동일하게 입력
# %s 개수: 컬럼 개수만큼 입력
for i , 하락감마 in enumerate(하락감마_list):

    sql = """INSERT INTO """+하락감마_list[i]+"""(날짜,단기채로그,중기채로그,ksp로그,iau로그,dbc로그,vnq로그,nsd로그) VALUES(%s,%s,%s,%s,%s,%s,%s,%s)"""

    # 5. 데이터 import
    for idx in range(len(하락감마_df[i])):
        cursor.execute(sql, tuple(하락감마_df[i].values[idx]))

# 6. 데이터베이스 업데이트 및 작업 종료
db.commit() 

# 7. 데이터베이스 닫기 
db.close()

In [12]:
tuple(하락감마_df[2].values[1])

('2019-12-31',
 0.07140914,
 0.12112872,
 0.07487912,
 0.29907426,
 0.047965627,
 0.10578008,
 0.27976304)

## MY SQL 에서 다시 빼오기

In [27]:
import pymysql
import pandas as pd

# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정

# 3. curosr 사용
cursor = db.cursor() 

sql = 'select * from 하락감마001'
test = pd.read_sql(sql, db)

In [25]:
pd.options.display.float_format = '{:.10f}'.format

In [28]:
test

,날짜,단기채로그,중기채로그,ksp로그,iau로그,dbc로그,vnq로그,nsd로그
0,2019-12-30,0.0595978570,0.0654257240,0.0695828300,0.2498650000,0.0499016340,0.1700267500,0.3356002600
1,2019-12-31,0.0597823900,0.0635765900,0.0672357100,0.2523581700,0.0496660500,0.1671297700,0.3402513000
2,2020-01-02,0.0607944280,0.0616237600,0.0647670000,0.2514179000,0.0502975470,0.1682557000,0.3428436500
3,2020-01-03,0.0555095560,0.0631722500,0.0694323700,0.2431279300,0.0490464500,0.1832224300,0.3364890000
4,2020-01-06,0.0567827600,0.0621821600,0.0717604900,0.2454717000,0.0490420240,0.1799589800,0.3348018200
...,...,...,...,...,...,...,...,...
65,2020-03-31,0.0637449300,0.1167953700,0.0845578600,0.2672614500,0.0573341140,0.1541664900,0.2561397900
66,2020-04-01,0.1669108700,0.1884174500,0.0759412600,0.2317414900,0.0693060100,0.1149288040,0.1527541100
67,2020-04-02,0.1265886900,0.1432213300,0.1021198850,0.2098125000,0.0660878050,0.1462261700,0.2059436700
68,2020-04-03,0.2238199300,0.2000084700,0.0685042140,0.2190732200,0.0626896250,0.0931162400,0.1327883000
69,2020-04-06,0.1899380000,0.2053670100,0.0676641760,0.2348428200,0.0615744000,0.0966779500,0.1439356000

# 최근하락장 가중치 데이터넣기

In [3]:
import pandas as pd

In [30]:
최근하락감마_df =[0,1,2,3,4,5,6,7,8,9,10]
최근하락감마_파일이름 =  ['./최근하락가중치/최근하락감마000.csv','./최근하락가중치/최근하락감마001.csv',
                './최근하락가중치/최근하락감마002.csv','./최근하락가중치/최근하락감마003.csv',
                './최근하락가중치/최근하락감마004.csv','./최근하락가중치/최근하락감마005.csv',
                './최근하락가중치/최근하락감마006.csv','./최근하락가중치/최근하락감마007.csv',
                './최근하락가중치/최근하락감마008.csv','./최근하락가중치/최근하락감마009.csv',
               './최근하락가중치/최근하락감마010.csv']

In [31]:
for i,파일이름 in enumerate(최근하락감마_파일이름):
    최근하락감마_df[i] = pd.read_csv(파일이름)

In [32]:
최근하락감마_df[10]

,Unnamed: 0,단기채로그,중기채로그,ksp로그,iau로그,dbc로그,vnq로그,nsd로그
0,2021-09-27,0.3579188600,0.3504879200,0.0614811630,0.0790515840,0.0497397700,0.0506853350,0.0506353300
1,2021-09-28,0.3559008800,0.3480223400,0.0602595430,0.0851601800,0.0494542300,0.0504508580,0.0507520440
2,2021-09-29,0.3553455800,0.3480918700,0.0619636200,0.0842895500,0.0492700670,0.0502517560,0.0507876200
3,2021-09-30,0.3560052200,0.3491383500,0.0614563900,0.0827105000,0.0494335930,0.0504565000,0.0507994260
4,2021-10-01,0.3578582400,0.3508913200,0.0587122200,0.0813095500,0.0496931820,0.0507104060,0.0508250070
...,...,...,...,...,...,...,...,...
157,2022-05-04,0.3463323700,0.3423490200,0.0576852000,0.1072153150,0.0480225830,0.0489189600,0.0494765860
158,2022-05-05,0.3469927300,0.3442674000,0.0592019500,0.1020401500,0.0482766900,0.0493722450,0.0498488840
159,2022-05-06,0.3536236300,0.3494098000,0.0566083100,0.0918238400,0.0488626440,0.0496953950,0.0499763900
160,2022-05-09,0.3555703200,0.3505245000,0.0599933530,0.0844957400,0.0492769140,0.0500214920,0.0501177530
161,2022-05-10,0.3585704600,0.3534064300,0.0586088600,0.0785839800,0.0497216660,0.0504812750,0.0506273020

## 최근하락감마 테이블 생성

In [33]:
최근하락감마_list = ['최근하락감마000','최근하락감마001','최근하락감마002','최근하락감마003','최근하락감마004','최근하락감마005','최근하락감마006','최근하락감마007','최근하락감마008',
             '최근하락감마009','최근하락감마010']

In [34]:
for i , 하락감마 in enumerate(최근하락감마_list):
    print(최근하락감마_list[i])

최근하락감마000
최근하락감마001
최근하락감마002
최근하락감마003
최근하락감마004
최근하락감마005
최근하락감마006
최근하락감마007
최근하락감마008
최근하락감마009
최근하락감마010

In [36]:
import pymysql


for i , 하락감마 in enumerate(최근하락감마_list):
    conn = pymysql.connect(host='localhost',
                       user='ctrlenter',
                       password='0000',
                       db='ctrlenter',
                       charset='utf8')
    
    sql = """CREATE TABLE """+최근하락감마_list[i]+""" (
            날짜 date ,
            단기채로그 double ,
            중기채로그 double ,
            ksp로그 double ,
            iau로그 double ,
            dbc로그 double ,
            vnq로그 double ,
            nsd로그 double
            )
            """

    with conn:
        with conn.cursor() as cur:
            cur.execute(sql)
            conn.commit()

In [35]:
최근하락감마_df[0]

,Unnamed: 0,단기채로그,중기채로그,ksp로그,iau로그,dbc로그,vnq로그,nsd로그
0,2021-09-27,0.0594348050,0.0583002600,0.0629991440,0.1669212000,0.0546279480,0.2201247400,0.3775918500
1,2021-09-28,0.0628060600,0.0605067300,0.0624736770,0.1574256000,0.0557608270,0.2204576600,0.3805695200
2,2021-09-29,0.0625468600,0.0622716000,0.0619451440,0.1534507100,0.0568116200,0.2189962000,0.3839779000
3,2021-09-30,0.0695247350,0.0643426850,0.0651576300,0.1474173400,0.0586181130,0.2087569500,0.3861825800
4,2021-10-01,0.0712438100,0.0618260100,0.0644118340,0.1611112000,0.0571323600,0.2031750400,0.3810997000
...,...,...,...,...,...,...,...,...
157,2022-05-04,0.1017555900,0.0812767000,0.0714788360,0.1405008300,0.0664602600,0.1857279000,0.3527998300
158,2022-05-05,0.1508884900,0.1088210050,0.0794875200,0.1335344200,0.0750608600,0.1693971600,0.2828105700
159,2022-05-06,0.1842395800,0.1663379400,0.0788790000,0.1408555400,0.0797912550,0.1524698700,0.1974267700
160,2022-05-09,0.2272818500,0.1725927700,0.0837057800,0.1224668800,0.0908734800,0.1485069800,0.1545722500
161,2022-05-10,0.2152067600,0.2080881100,0.0861837940,0.1115802600,0.0973582700,0.1493180700,0.1322647200

## 최근하락감마 11개 데이터 넣기

In [38]:
# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정
# 3. curosr 사용
cursor = db.cursor() 

# 4. 쿼리문 작성
# 컬럼명: 테이블의 컬럼명과 동일하게 입력
# %s 개수: 컬럼 개수만큼 입력
for i , 하락감마 in enumerate(최근하락감마_list):

    sql = """INSERT INTO """+최근하락감마_list[i]+"""(날짜,단기채로그,중기채로그,ksp로그,iau로그,dbc로그,vnq로그,nsd로그) VALUES(%s,%s,%s,%s,%s,%s,%s,%s)"""

    # 5. 데이터 import
    for idx in range(len(최근하락감마_df[i])):
        cursor.execute(sql, tuple(최근하락감마_df[i].values[idx]))

# 6. 데이터베이스 업데이트 및 작업 종료
db.commit() 

# 7. 데이터베이스 닫기 
db.close()

In [37]:
tuple(최근하락감마_df[2].values[1])

('2021-09-28',
 0.07310373,
 0.14156029,
 0.07481928,
 0.2673914,
 0.050970092,
 0.12632802,
 0.26582715)

## MY SQL 에서 다시 빼오기

In [44]:
import pymysql
import pandas as pd

# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정

# 3. curosr 사용
cursor = db.cursor() 

sql = 'select * from 최근하락감마010'
test = pd.read_sql(sql, db)

In [25]:
pd.options.display.float_format = '{:.10f}'.format

In [45]:
test

,날짜,단기채로그,중기채로그,ksp로그,iau로그,dbc로그,vnq로그,nsd로그
0,2021-09-27,0.3579188600,0.3504879200,0.0614811630,0.0790515840,0.0497397700,0.0506853350,0.0506353300
1,2021-09-28,0.3559008800,0.3480223400,0.0602595430,0.0851601800,0.0494542300,0.0504508580,0.0507520440
2,2021-09-29,0.3553455800,0.3480918700,0.0619636200,0.0842895500,0.0492700670,0.0502517560,0.0507876200
3,2021-09-30,0.3560052200,0.3491383500,0.0614563900,0.0827105000,0.0494335930,0.0504565000,0.0507994260
4,2021-10-01,0.3578582400,0.3508913200,0.0587122200,0.0813095500,0.0496931820,0.0507104060,0.0508250070
...,...,...,...,...,...,...,...,...
157,2022-05-04,0.3463323700,0.3423490200,0.0576852000,0.1072153150,0.0480225830,0.0489189600,0.0494765860
158,2022-05-05,0.3469927300,0.3442674000,0.0592019500,0.1020401500,0.0482766900,0.0493722450,0.0498488840
159,2022-05-06,0.3536236300,0.3494098000,0.0566083100,0.0918238400,0.0488626440,0.0496953950,0.0499763900
160,2022-05-09,0.3555703200,0.3505245000,0.0599933530,0.0844957400,0.0492769140,0.0500214920,0.0501177530
161,2022-05-10,0.3585704600,0.3534064300,0.0586088600,0.0785839800,0.0497216660,0.0504812750,0.0506273020

# 상승 가중치 데이터넣기

In [3]:
import pandas as pd

In [46]:
상승감마_df =[0,1,2,3,4,5,6,7,8]
상승감마_파일이름 =  ['./상승/상승감마000.csv','./상승/상승감마001.csv',
             './상승/상승감마002.csv','./상승/상승감마003.csv',
             './상승/상승감마004.csv','./상승/상승감마마001.csv',
             './상승/상승감마마002.csv','./상승/상승감마마003.csv','./상승/상승감마마004.csv']

In [47]:
for i,파일이름 in enumerate(상승감마_파일이름):
    상승감마_df[i] = pd.read_csv(파일이름)

In [50]:
상승감마_df[8]

,Unnamed: 0,단기채로그,중기채로그,ksp로그,iau로그,dbc로그,vnq로그,nsd로그
0,2020-06-02,0.0506273060,0.0506087170,0.0507037450,0.0531904300,0.0505842830,0.3707770400,0.3735084200
1,2020-06-03,0.0506189800,0.0506259200,0.0506736040,0.0531290900,0.0505923260,0.3707828200,0.3735772700
2,2020-06-04,0.0506582400,0.0506593400,0.0507005200,0.0531296470,0.0506237700,0.3704647700,0.3737636500
3,2020-06-05,0.0506309600,0.0506455530,0.0506931200,0.0529480000,0.0506030300,0.3708471400,0.3736322500
4,2020-06-08,0.0506800800,0.0506871680,0.0507402900,0.0532251700,0.0506327640,0.3703008000,0.3737337600
...,...,...,...,...,...,...,...,...
297,2021-07-26,0.0506451840,0.0506607800,0.0507002030,0.0529928430,0.0506156460,0.3706830000,0.3737022600
298,2021-07-27,0.0506403070,0.0506433060,0.0506994460,0.0531035620,0.0506071630,0.3706556000,0.3736506000
299,2021-07-28,0.0506470500,0.0506417380,0.0507041600,0.0531912900,0.0506082100,0.3705547500,0.3736528000
300,2021-07-29,0.0506289230,0.0506294700,0.0506863780,0.0531517160,0.0505978130,0.3707044400,0.3736012600
301,2021-07-30,0.0506334980,0.0506370740,0.0506961100,0.0530625060,0.0506007750,0.3707556400,0.3736143700

## 상승감마 테이블 생성

In [51]:
상승감마_list = ['상승감마000','상승감마001','상승감마002',
             '상승감마003','상승감마004','상승감마마001',
             '상승감마마002','상승감마마003','상승감마마004']

In [53]:
for i , 상승감마 in enumerate(상승감마_list):
    print(상승감마_list[i],상승감마)

상승감마000 상승감마000
상승감마001 상승감마001
상승감마002 상승감마002
상승감마003 상승감마003
상승감마004 상승감마004
상승감마마001 상승감마마001
상승감마마002 상승감마마002
상승감마마003 상승감마마003
상승감마마004 상승감마마004

In [54]:
import pymysql


for i , 상승감마 in enumerate(상승감마_list):
    conn = pymysql.connect(host='localhost',
                       user='ctrlenter',
                       password='0000',
                       db='ctrlenter',
                       charset='utf8')
    
    sql = """CREATE TABLE """+상승감마_list[i]+""" (
            날짜 date ,
            단기채로그 double ,
            중기채로그 double ,
            ksp로그 double ,
            iau로그 double ,
            dbc로그 double ,
            vnq로그 double ,
            nsd로그 double
            )
            """

    with conn:
        with conn.cursor() as cur:
            cur.execute(sql)
            conn.commit()

In [55]:
상승감마_df[0]

,Unnamed: 0,단기채로그,중기채로그,ksp로그,iau로그,dbc로그,vnq로그,nsd로그
0,2020-06-02,0.0736015440,0.0593852500,0.0657680400,0.1736843600,0.0562440450,0.1926313300,0.3786854000
1,2020-06-03,0.0679052100,0.0609350130,0.0664894500,0.1612790400,0.0574718040,0.2034070600,0.3825124500
2,2020-06-04,0.0697649000,0.0654299900,0.0629041800,0.1887958300,0.0578089320,0.1842798700,0.3710163000
3,2020-06-05,0.0650305150,0.0636112200,0.0672762600,0.1784759600,0.0570624700,0.1958755600,0.3726681000
4,2020-06-08,0.0663046300,0.0685265300,0.0691617900,0.1684255300,0.0578454470,0.2104007800,0.3593352400
...,...,...,...,...,...,...,...,...
297,2021-07-26,0.0562065430,0.0587517800,0.0606300420,0.1669981800,0.0531983200,0.2342508600,0.3699643000
298,2021-07-27,0.0581667240,0.0578340500,0.0604940100,0.1707802100,0.0534944240,0.2264282400,0.3728023800
299,2021-07-28,0.0594131700,0.0576246100,0.0604919640,0.1700017300,0.0536448400,0.2251111600,0.3737125000
300,2021-07-29,0.0590283600,0.0572003240,0.0603698680,0.1729990700,0.0537281500,0.2218027300,0.3748715000
301,2021-07-30,0.0596662400,0.0578981000,0.0615177640,0.1688009200,0.0540465640,0.2219958200,0.3760745800

## 상승감마 11개 데이터 넣기

In [56]:
# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정
# 3. curosr 사용
cursor = db.cursor() 

# 4. 쿼리문 작성
# 컬럼명: 테이블의 컬럼명과 동일하게 입력
# %s 개수: 컬럼 개수만큼 입력
for i , 상승감마 in enumerate(상승감마_list):

    sql = """INSERT INTO """+상승감마_list[i]+"""(날짜,단기채로그,중기채로그,ksp로그,iau로그,dbc로그,vnq로그,nsd로그) VALUES(%s,%s,%s,%s,%s,%s,%s,%s)"""

    # 5. 데이터 import
    for idx in range(len(상승감마_df[i])):
        cursor.execute(sql, tuple(상승감마_df[i].values[idx]))

# 6. 데이터베이스 업데이트 및 작업 종료
db.commit() 

# 7. 데이터베이스 닫기 
db.close()

In [57]:
tuple(상승감마_df[2].values[1])

('2020-06-03',
 0.11532784,
 0.19473697,
 0.08235882,
 0.25730565,
 0.055769984,
 0.10494636,
 0.1895544)

## MY SQL 에서 다시 빼오기

In [60]:
import pymysql
import pandas as pd

# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정

# 3. curosr 사용
cursor = db.cursor() 

sql = 'select * from 상승감마마004'
test = pd.read_sql(sql, db)

In [25]:
pd.options.display.float_format = '{:.10f}'.format

In [61]:
test

,날짜,단기채로그,중기채로그,ksp로그,iau로그,dbc로그,vnq로그,nsd로그
0,2020-06-02,0.0506273060,0.0506087170,0.0507037450,0.0531904300,0.0505842830,0.3707770400,0.3735084200
1,2020-06-03,0.0506189800,0.0506259200,0.0506736040,0.0531290900,0.0505923260,0.3707828200,0.3735772700
2,2020-06-04,0.0506582400,0.0506593400,0.0507005200,0.0531296470,0.0506237700,0.3704647700,0.3737636500
3,2020-06-05,0.0506309600,0.0506455530,0.0506931200,0.0529480000,0.0506030300,0.3708471400,0.3736322500
4,2020-06-08,0.0506800800,0.0506871680,0.0507402900,0.0532251700,0.0506327640,0.3703008000,0.3737337600
...,...,...,...,...,...,...,...,...
297,2021-07-26,0.0506451840,0.0506607800,0.0507002030,0.0529928430,0.0506156460,0.3706830000,0.3737022600
298,2021-07-27,0.0506403070,0.0506433060,0.0506994460,0.0531035620,0.0506071630,0.3706556000,0.3736506000
299,2021-07-28,0.0506470500,0.0506417380,0.0507041600,0.0531912900,0.0506082100,0.3705547500,0.3736528000
300,2021-07-29,0.0506289230,0.0506294700,0.0506863780,0.0531517160,0.0505978130,0.3707044400,0.3736012600
301,2021-07-30,0.0506334980,0.0506370740,0.0506961100,0.0530625060,0.0506007750,0.3707556400,0.3736143700

In [63]:
# ! pip install backtesting

# 가중치 태운 결과 데이터넣기

In [38]:
import pandas as pd

In [39]:
전체가격데이터 =[0,1,2,3,4]
가격데이터_파일이름 =  ['./전체가격데이터/전체1가격데이터.csv','./전체가격데이터/전체7가격데이터.csv','./전체가격데이터/전체13가격데이터.csv','./전체가격데이터/전체19가격데이터.csv',
               './전체가격데이터/전체25가격데이터.csv']

In [40]:
for i,파일이름 in enumerate(가격데이터_파일이름):
    전체가격데이터[i] = pd.read_csv(파일이름)

In [41]:
전체가격데이터[0]

,Date,단기채로그,중기채로그,ksp로그,iau로그,dbc로그,vnq로그,nsd로그,상승,코스피,...,레버리지추이,성장성추이,수익성추이,시장가치추이,활동성추이,그레이엄추이,린치추이,버핏추이,삼대투자추이,Date.1
0,2017-07-17,0.0001082703,0.0000274797,0.0043267832,0.0042246989,-0.0034471234,0.0080319305,0.0060332681,0.0000000000,2425.1000976562,...,10000.0000000000,10000.0000000000,10000.0000000000,10000.0000000000,10000.0000000000,10000.0000000000,10000.0000000000,10000.0000000000,10000.0000000000,2017-07-17
1,2017-07-18,0.0000475074,0.0002051098,0.0003875136,0.0075598978,0.0041351110,-0.0021516362,0.0029330079,0.0000000000,2426.0400390625,...,10009.9188140017,10002.0954124347,10009.5586509727,10002.7488680875,10000.5034000548,10014.5702756136,10003.3284605499,10007.4089337345,9999.1961136744,2017-07-18
2,2017-07-19,0.0000265344,0.0000696420,0.0016062270,-0.0016750007,0.0089011641,0.0075105591,0.0015332126,0.0000000000,2429.9399414062,...,10018.5139858809,10022.7561465118,10020.5131248213,10018.7087649759,10013.5025991665,10022.5370126096,10020.7260433345,10030.0518907616,10008.3691037754,2017-07-19
3,2017-07-20,0.0000406381,0.0003389846,0.0048853479,0.0016750007,-0.0013643098,-0.0046428838,0.0029199568,0.0000000000,2441.8400878906,...,10022.4476227143,10019.2977085747,10027.5385750431,10030.8847660046,10015.1805751541,10034.5030928501,10016.5258259688,10032.1927322359,10023.4039519781,2017-07-20
4,2017-07-21,0.0000392674,0.0004257481,0.0033606485,0.0091629637,-0.0137459167,-0.0007160391,0.0099473991,0.0000000000,2450.0600585938,...,10019.2265321475,10017.3800931420,10026.7428588311,10042.2821806988,10015.8346609285,10036.2508474867,10011.4793314244,10026.2209159914,10024.5534514720,2017-07-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1178,2022-05-03,0.0000324921,-0.0009734932,-0.0026043634,0.0028233302,-0.0140518001,0.0123458566,0.0073124918,0.0000000000,2680.4599609375,...,12608.9337802981,12641.9630275138,12345.8430924571,13053.9109215828,12418.7235986814,12916.2157406310,13115.5404923264,12885.6936532804,12895.2272646638,2022-05-03
1179,2022-05-04,0.0000838590,-0.0008638990,-0.0010787147,0.0098190849,0.0307276986,0.0114253787,0.0142168196,0.0000000000,2677.5700683594,...,12683.5106615627,12716.7352637775,12418.8638958382,13131.1196675243,12492.1754615758,12992.6100737650,13193.1137529256,12961.9074602792,12971.4974592222,2022-05-04
1180,2022-05-06,0.0001094004,0.0010006265,-0.0124238957,0.0019606087,0.0010605898,-0.0119404100,-0.0169931542,0.0000000000,2644.5100097656,...,12654.0180373209,12687.1653832670,12389.9866475619,13100.5862301692,12463.1277438988,12962.3987090214,13162.4361624007,12931.7674874923,12941.3351870701,2022-05-06
1181,2022-05-09,0.0002019069,0.0021474466,0.0000000000,-0.0149404495,-0.0462844282,-0.0450434534,-0.0409478648,0.0000000000,2644.5100097656,...,12502.1685320944,12534.9181065131,12241.3055459034,12943.3778611467,12313.5689416351,12806.8486043267,13004.4855878921,12776.5849605756,12786.0378467841,2022-05-09
1182,2022-05-10,0.0000628540,0.0006740090,-0.0182982820,-0.0085567904,-0.0059391357,-0.0183878989,-0.0027400614,0.0000000000,2596.5600585938,...,12437.4311516337,12470.0111457390,12177.9189380180,12876.3558581324,12249.8081472291,12740.5335623824,12937.1471634390,12710.4266265668,12719.8305648596,2022-05-10

## 상승감마 테이블 생성

In [42]:
전체가격데이터_list = ['극안정형','안정형','위험중립형',
             '적극투자형','공격투자형']

In [43]:
for i , 전체가격 in enumerate(전체가격데이터_list):
    print(전체가격데이터_list[i],전체가격)

극안정형 극안정형
안정형 안정형
위험중립형 위험중립형
적극투자형 적극투자형
공격투자형 공격투자형

In [44]:
전체가격데이터[0] = 전체가격데이터[0].drop('Date.1',axis=1)
전체가격데이터[1] = 전체가격데이터[1].drop('Date.1',axis=1)
전체가격데이터[2] = 전체가격데이터[2].drop('Date.1',axis=1)
전체가격데이터[3] = 전체가격데이터[3].drop('Date.1',axis=1)
전체가격데이터[4] = 전체가격데이터[4].drop('Date.1',axis=1)

In [45]:
len(전체가격데이터[0].columns.tolist())

39

In [46]:
# 전체가격데이터[0].info()

In [47]:
import pymysql


for i , 전체가격 in enumerate(전체가격데이터_list):
    conn = pymysql.connect(host='localhost',
                       user='ctrlenter',
                       password='0000',
                       db='ctrlenter',
                       charset='utf8')
    
    sql = """CREATE TABLE """+전체가격데이터_list[i]+""" (Date date ,
                                                         단기채로그 double ,
                                                         중기채로그 double,
                                                         ksp로그 double ,
                                                         iau로그 double ,
                                                         dbc로그 double ,
                                                         vnq로그 double ,
                                                         nsd로그 double ,
                                                         상승 double ,
                                                         코스피 double ,
                                                         유동성기법 double ,
                                                         레버리지기법 double ,
                                                         그레이엄기법 double ,
                                                         린치기법 double ,
                                                         버핏기법 double ,
                                                         삼대투자기법 double ,
                                                         성장성기법 double ,
                                                         수익성기법 double ,
                                                         시장가치기법 double ,
                                                         활동성기법 double ,
                                                         단기채w double ,
                                                         중기채w double ,
                                                         kspw double ,
                                                         iauw double ,
                                                         dbcw double ,
                                                         vnqw double ,
                                                         nsdw double ,
                                                         금액 double ,
                                                         kospi double ,
                                                         유동성추이 double ,
                                                         레버리지추이 double ,
                                                         성장성추이 double ,
                                                         수익성추이 double ,
                                                         시장가치추이 double ,
                                                         활동성추이 double ,
                                                         그레이엄추이 double ,
                                                         린치추이 double ,
                                                         버핏추이 double ,
                                                         삼대투자추이 double 
                                                                    )
                                                                    """

    with conn:
        with conn.cursor() as cur:
            cur.execute(sql)
            conn.commit()

In [49]:
# 전체가격데이터[0]

## 상승감마 11개 데이터 넣기

In [50]:
# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정
# 3. curosr 사용
cursor = db.cursor() 

# 4. 쿼리문 작성
# 컬럼명: 테이블의 컬럼명과 동일하게 입력
# %s 개수: 컬럼 개수만큼 입력
for i , 전체가격 in enumerate(전체가격데이터_list):

    sql = """INSERT INTO """+전체가격데이터_list[i]+"""(Date,단기채로그,중기채로그,ksp로그,iau로그,dbc로그,vnq로그,nsd로그,상승,코스피,유동성기법,레버리지기법,그레이엄기법,린치기법,버핏기법,삼대투자기법,성장성기법,수익성기법,시장가치기법,활동성기법,단기채w,중기채w,kspw,iauw,dbcw,vnqw,nsdw,금액,kospi,유동성추이,레버리지추이,성장성추이,수익성추이,시장가치추이,활동성추이,그레이엄추이,린치추이,버핏추이,삼대투자추이) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"""

    # 5. 데이터 import
    for idx in range(len(전체가격데이터[i])):
        cursor.execute(sql, tuple(전체가격데이터[i].values[idx]))

# 6. 데이터베이스 업데이트 및 작업 종료
db.commit() 

# 7. 데이터베이스 닫기 
db.close()

In [51]:
tuple(전체가격데이터[2].values[1])

('2017-07-18',
 4.75e-05,
 0.00020511,
 0.000387514,
 0.007559898,
 0.004135111,
 -0.002151636,
 0.002933008,
 0,
 2426.040039,
 -0.002331965,
 0.001327547,
 0.005499585,
 -0.004613502,
 -0.000930891,
 -0.008356801,
 -0.005728996,
 0.001003779,
 -0.005137683,
 -0.007171075,
 0.2903427,
 0.24568997,
 0.16426466,
 0.069950365,
 0.08709214,
 0.06562675,
 0.07703336,
 10000,
 10011.047233538848,
 10006.584430190253,
 10012.59270032387,
 10001.026751403242,
 10012.060243613674,
 10001.992806515576,
 9998.673154876573,
 10019.469323116502,
 10002.84966277998,
 10008.88214820003,
 9996.740489474749)

## MY SQL 에서 다시 빼오기

In [52]:
import pymysql
import pandas as pd

# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='ctrlenter', password='0000', db='ctrlenter', charset='utf8')   # charset: 인코딩 설정

# 3. curosr 사용
cursor = db.cursor() 

sql = 'select * from 극안정형'
test = pd.read_sql(sql, db)

In [53]:
pd.options.display.float_format = '{:.10f}'.format

In [54]:
test

,Date,단기채로그,중기채로그,ksp로그,iau로그,dbc로그,vnq로그,nsd로그,상승,코스피,...,유동성추이,레버리지추이,성장성추이,수익성추이,시장가치추이,활동성추이,그레이엄추이,린치추이,버핏추이,삼대투자추이
0,2017-07-17,0.0001082703,0.0000274797,0.0043267832,0.0042246989,-0.0034471234,0.0080319305,0.0060332681,0.0000000000,2425.1000976562,...,10000.0000000000,10000.0000000000,10000.0000000000,10000.0000000000,10000.0000000000,10000.0000000000,10000.0000000000,10000.0000000000,10000.0000000000,10000.0000000000
1,2017-07-18,0.0000475074,0.0002051098,0.0003875136,0.0075598978,0.0041351110,-0.0021516362,0.0029330079,0.0000000000,2426.0400390625,...,10005.8547192641,10009.9188140017,10002.0954124347,10009.5586509727,10002.7488680875,10000.5034000548,10014.5702756136,10003.3284605499,10007.4089337345,9999.1961136744
2,2017-07-19,0.0000265344,0.0000696420,0.0016062270,-0.0016750007,0.0089011641,0.0075105591,0.0015332126,0.0000000000,2429.9399414062,...,10021.6224561925,10018.5139858809,10022.7561465118,10020.5131248213,10018.7087649759,10013.5025991665,10022.5370126096,10020.7260433345,10030.0518907616,10008.3691037754
3,2017-07-20,0.0000406381,0.0003389846,0.0048853479,0.0016750007,-0.0013643098,-0.0046428838,0.0029199568,0.0000000000,2441.8400878906,...,10036.3191046464,10022.4476227143,10019.2977085747,10027.5385750431,10030.8847660046,10015.1805751541,10034.5030928501,10016.5258259688,10032.1927322359,10023.4039519781
4,2017-07-21,0.0000392674,0.0004257481,0.0033606485,0.0091629637,-0.0137459167,-0.0007160391,0.0099473991,0.0000000000,2450.0600585938,...,10035.1491473881,10019.2265321475,10017.3800931420,10026.7428588311,10042.2821806988,10015.8346609285,10036.2508474867,10011.4793314244,10026.2209159914,10024.5534514720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1178,2022-05-03,0.0000324921,-0.0009734932,-0.0026043634,0.0028233302,-0.0140518001,0.0123458566,0.0073124918,0.0000000000,2680.4599609375,...,12788.1921264694,12608.9337802981,12641.9630275138,12345.8430924571,13053.9109215828,12418.7235986814,12916.2157406310,13115.5404923264,12885.6936532804,12895.2272646638
1179,2022-05-04,0.0000838590,-0.0008638990,-0.0010787147,0.0098190849,0.0307276986,0.0114253787,0.0142168196,0.0000000000,2677.5700683594,...,12863.8292503072,12683.5106615627,12716.7352637775,12418.8638958382,13131.1196675243,12492.1754615758,12992.6100737650,13193.1137529256,12961.9074602792,12971.4974592222
1180,2022-05-06,0.0001094004,0.0010006265,-0.0124238957,0.0019606087,0.0010605898,-0.0119404100,-0.0169931542,0.0000000000,2644.5100097656,...,12833.9173361288,12654.0180373209,12687.1653832670,12389.9866475619,13100.5862301692,12463.1277438988,12962.3987090214,13162.4361624007,12931.7674874923,12941.3351870701
1181,2022-05-09,0.0002019069,0.0021474466,0.0000000000,-0.0149404495,-0.0462844282,-0.0450434534,-0.0409478648,0.0000000000,2644.5100097656,...,12679.9090209943,12502.1685320944,12534.9181065131,12241.3055459034,12943.3778611467,12313.5689416351,12806.8486043267,13004.4855878921,12776.5849605756,12786.0378467841
1182,2022-05-10,0.0000628540,0.0006740090,-0.0182982820,-0.0085567904,-0.0059391357,-0.0183878989,-0.0027400614,0.0000000000,2596.5600585938,...,12614.2512839073,12437.4311516337,12470.0111457390,12177.9189380180,12876.3558581324,12249.8081472291,12740.5335623824,12937.1471634390,12710.4266265668,12719.8305648596